/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* @import "compass/reset"; */
/* This file contains constants for access in all other stylesheets. */
/* line 3, ../../../app/stylesheets/partials/_base.scss */
h1, h2, h3, h5, h4, h5, p, div, table {
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

/* line 1, ../../../app/stylesheets/partials/_layout.scss */
body {
  background: url('/images/embed/bg.png?1309206939') repeat-x;
  margin: 0;
}

/* line 6, ../../../app/stylesheets/partials/_layout.scss */
#wrapper {
  width: 960px;
  margin: 0 auto;
}

/* line 11, ../../../app/stylesheets/partials/_layout.scss */
header {
  width: 940px;
  height: 39px;
  padding: 14px 10px;
  position: relative;
}
/* line 17, ../../../app/stylesheets/partials/_layout.scss */
header h1 {
  margin: 0;
  padding: 0;
}
/* line 21, ../../../app/stylesheets/partials/_layout.scss */
header h1 #logo {
  text-indent: -9999px;
  display: block;
  width: 140px;
  height: 36px;
  float: left;
  background: url('/images/embed/logotype.png?1309207745');
}
/* line 30, ../../../app/stylesheets/partials/_layout.scss */
header h1 #logo-blue {
  width: 140px;
  height: 36px;
  float: left;
  display: none;
}
/* line 37, ../../../app/stylesheets/partials/_layout.scss */
header h1 span {
  margin-left: 15px;
  color: #dbf0f5;
  font-size: 18px;
  display: block;
  float: left;
  margin-top: -5px;
}
/* line 47, ../../../app/stylesheets/partials/_layout.scss */
header #contact {
  width: 142px;
  height: 38px;
  margin-top: -12px;
  background: url('/images/embed/contact-shadow.png?1309211731');
  padding: 12px;
  float: right;
}
/* line 55, ../../../app/stylesheets/partials/_layout.scss */
header #contact a {
  display: block;
  position: relative;
  z-index: 10;
  width: 142px;
  height: 18px;
  padding: 10px 0;
  background: url('/images/embed/contact.png?1309211661');
  text-align: center;
  color: #00728f;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
}
/* line 71, ../../../app/stylesheets/partials/_layout.scss */
header #contact a:hover {
  background-position: 0 -38px;
}
/* line 75, ../../../app/stylesheets/partials/_layout.scss */
header #contact a:active {
  background-position: 0 -76px;
}
/* line 81, ../../../app/stylesheets/partials/_layout.scss */
header #record-box {
  float: right;
  width: 132px;
  height: 50px;
  margin: -14px -10px -14px 0;
  padding: 18px 10px 0 10px;
  background: url('/images/embed/record-box.png?1309290946');
  text-align: right;
  z-index: 10;
}
/* line 91, ../../../app/stylesheets/partials/_layout.scss */
header #record-box span {
  display: block;
  width: 132px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  line-height: 20px;
}
/* line 100, ../../../app/stylesheets/partials/_layout.scss */
header #record-box span#organization {
  color: #d6e9f2;
  font-size: 14px;
}
/* line 105, ../../../app/stylesheets/partials/_layout.scss */
header #record-box span#name {
  color: #779eb2;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
}

/* line 114, ../../../app/stylesheets/partials/_layout.scss */
footer {
  padding-left: 10px;
  font-size: 12px;
  color: #aaa;
  margin-bottom: 20px;
}
/* line 120, ../../../app/stylesheets/partials/_layout.scss */
footer a {
  color: #66abbc;
}

/* line 125, ../../../app/stylesheets/partials/_layout.scss */
.container {
  float: left;
  width: 660px;
  padding: 10px 30px 30px;
  background: url('/images/embed/container-bottom.png?1309209056');
  background-repeat: no-repeat;
  background-position: bottom;
  margin: 60px 0 30px;
}
/* line 135, ../../../app/stylesheets/partials/_layout.scss */
.container:before {
  content: "";
  display: block;
  position: relative;
  top: -18px;
  left: 1px;
  height: 18px;
  margin: -10px -30px 0;
  background: url('/images/embed/container-top.png?1309208974');
}

/* line 147, ../../../app/stylesheets/partials/_layout.scss */
nav.primary {
  height: 31px;
  width: 940px;
  padding: 0 10px;
  display: block;
  z-index: 15;
  position: relative;
  bottom: 2px;
}
/* line 156, ../../../app/stylesheets/partials/_layout.scss */
nav.primary ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 162, ../../../app/stylesheets/partials/_layout.scss */
nav.primary ul li {
  float: left;
}
/* line 166, ../../../app/stylesheets/partials/_layout.scss */
nav.primary ul li:first-child a {
  margin-left: 4px;
}
/* line 172, ../../../app/stylesheets/partials/_layout.scss */
nav.primary ul li:last-child a {
  margin-right: 0;
  background: url('/images/embed/tab-grey.png?1310419230') right top;
}
/* line 176, ../../../app/stylesheets/partials/_layout.scss */
nav.primary ul li:last-child a:before {
  background: url('/images/embed/tab-grey-left.png?1310419222') top;
}
/* line 182, ../../../app/stylesheets/partials/_layout.scss */
nav.primary ul li a {
  display: block;
  height: 25px;
  background: url('/images/embed/tab.png?1309304715') right;
  background-position: right 0;
  margin-right: 4px;
  font-size: 14px;
  padding: 6px 17px 0 14px;
  white-space: nowrap;
  color: #00728f;
  text-decoration: none;
}
/* line 194, ../../../app/stylesheets/partials/_layout.scss */
nav.primary ul li a:before {
  content: "";
  float: left;
  display: block;
  width: 4px;
  height: 31px;
  margin: -6px 0 0 -18px;
  background: url('/images/embed/tab-left.png?1309304606') left;
  background-position: 0 0px;
}
/* line 205, ../../../app/stylesheets/partials/_layout.scss */
nav.primary ul li a:hover {
  background-position: right -31px;
}
/* line 208, ../../../app/stylesheets/partials/_layout.scss */
nav.primary ul li a:hover:before {
  background-position: 0 -31px;
}
/* line 213, ../../../app/stylesheets/partials/_layout.scss */
nav.primary ul li a:active {
  background-position: right -62px;
}
/* line 216, ../../../app/stylesheets/partials/_layout.scss */
nav.primary ul li a:active:before {
  background-position: 0 -62px;
}
/* line 221, ../../../app/stylesheets/partials/_layout.scss */
nav.primary ul li a.current {
  background: url('/images/embed/tab-selected.png?1309314834') right;
}
/* line 224, ../../../app/stylesheets/partials/_layout.scss */
nav.primary ul li a.current:before {
  background: url('/images/embed/tab-selected-left.png?1309314785') left;
}
/* line 230, ../../../app/stylesheets/partials/_layout.scss */
nav.primary ul li + li {
  margin-left: 4px;
}

/* line 237, ../../../app/stylesheets/partials/_layout.scss */
nav.secondary {
  background: #e2f5f8;
  width: 958px;
  border: 1px solid #00728f;
  margin: 8px 0 30px;
}
/* line 244, ../../../app/stylesheets/partials/_layout.scss */
nav.secondary span {
  display: block;
  float: left;
  width: 210px;
  background: url('/images/embed/divider-v.png?1309209226') no-repeat right;
  margin: 10px 0;
  font-size: 12px;
  text-align: right;
  padding-right: 20px;
  color: #00728f;
}
/* line 256, ../../../app/stylesheets/partials/_layout.scss */
nav.secondary ul {
  float: left;
  list-style: none;
  padding: 0;
  margin: 10px 0;
}
/* line 262, ../../../app/stylesheets/partials/_layout.scss */
nav.secondary ul li {
  float: left;
  font-size: 12px;
  margin-left: 20px;
}
/* line 267, ../../../app/stylesheets/partials/_layout.scss */
nav.secondary ul li a {
  color: #00728f;
  text-decoration: none;
}
/* line 271, ../../../app/stylesheets/partials/_layout.scss */
nav.secondary ul li a:hover {
  border-bottom: 1px solid #00728f;
}
/* line 275, ../../../app/stylesheets/partials/_layout.scss */
nav.secondary ul li a.current {
  font-weight: bold;
}
/* line 278, ../../../app/stylesheets/partials/_layout.scss */
nav.secondary ul li a.current:hover {
  border-bottom: none;
}

/* line 287, ../../../app/stylesheets/partials/_layout.scss */
#tabs-container {
  width: 960px;
  background: url('/images/embed/tabs-container.png?1311185405');
  background-repeat: no-repeat;
  background-position: bottom;
  margin-bottom: 50px;
}
/* line 295, ../../../app/stylesheets/partials/_layout.scss */
#tabs-container:before {
  content: "";
  display: block;
  position: relative;
  top: -3px;
  height: 3px;
  background: url('/images/embed/tabs-container-top.png?1309293728');
}
/* line 304, ../../../app/stylesheets/partials/_layout.scss */
#tabs-container.photo {
  padding-top: 60px;
  background: url('/images/embed/tabs-container-photo.png?1310431981') bottom no-repeat;
  height: 570px;
}
/* line 309, ../../../app/stylesheets/partials/_layout.scss */
#tabs-container.photo:before {
  top: -63px;
}
/* line 313, ../../../app/stylesheets/partials/_layout.scss */
#tabs-container.photo table + table {
  margin-top: 20px;
}
/* line 317, ../../../app/stylesheets/partials/_layout.scss */
#tabs-container.photo .sum {
  height: 35px;
}

/* line 323, ../../../app/stylesheets/partials/_layout.scss */
.column {
  float: left;
  width: 710px;
  display: block;
}
/* line 329, ../../../app/stylesheets/partials/_layout.scss */
.column.infographics {
  width: 150px;
  margin: 0 50px;
}
/* line 333, ../../../app/stylesheets/partials/_layout.scss */
.column.infographics img {
  margin-left: 25px;
}
/* line 337, ../../../app/stylesheets/partials/_layout.scss */
.column.infographics p {
  text-align: center;
  color: #00728f;
}
/* line 341, ../../../app/stylesheets/partials/_layout.scss */
.column.infographics p.info-val {
  font-weight: bold;
  font-size: 15px;
  margin: 0;
}
/* line 347, ../../../app/stylesheets/partials/_layout.scss */
.column.infographics p.info-tag {
  margin: 2px;
  font-size: 13px;
}
/* line 353, ../../../app/stylesheets/partials/_layout.scss */
.column.infographics div + div {
  margin-top: 15px;
  border-top: 1px solid #00728f;
}
/* line 357, ../../../app/stylesheets/partials/_layout.scss */
.column.infographics div + div img {
  margin-top: 5px;
}
/* line 362, ../../../app/stylesheets/partials/_layout.scss */
.column.infographics div:last-child {
  margin-bottom: 30px;
}
/* line 367, ../../../app/stylesheets/partials/_layout.scss */
.column.export {
  width: 138px;
  margin: 0 50px 0;
  border: 1px solid #00728f;
  padding: 5px;
}
/* line 376, ../../../app/stylesheets/partials/_layout.scss */
.column.export ul li + li {
  margin-top: 5px;
}

/* line 383, ../../../app/stylesheets/partials/_layout.scss */
#link-instructions {
  display: block;
  margin: 10px 50px;
  float: left;
  text-align: center;
  width: 149px;
  font-size: 12px;
  color: #999;
}

/* line 393, ../../../app/stylesheets/partials/_layout.scss */
.export-list, .column.export ul, #export-all ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 398, ../../../app/stylesheets/partials/_layout.scss */
.export-list li, .column.export ul li, #export-all ul li {
  height: 24px;
}
/* line 401, ../../../app/stylesheets/partials/_layout.scss */
.export-list li a, .column.export ul li a, #export-all ul li a {
  display: block;
  height: 16px;
  padding: 4px;
  color: #000;
  text-decoration: none;
}
/* line 408, ../../../app/stylesheets/partials/_layout.scss */
.export-list li a span, .column.export ul li a span, #export-all ul li a span {
  display: block;
  height: 16px;
  background: url('/images/embed/export-icons.png?1310432371') 2px top no-repeat;
  padding-left: 28px;
  font-size: 12px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/* line 419, ../../../app/stylesheets/partials/_layout.scss */
.export-list li a:hover, .column.export ul li a:hover, #export-all ul li a:hover {
  background: #DEF2F7;
}
/* line 425, ../../../app/stylesheets/partials/_layout.scss */
.export-list li:nth-child(1) a span, .column.export ul li:nth-child(1) a span, #export-all ul li:nth-child(1) a span {
  background-position: 0 0px;
}
/* line 429, ../../../app/stylesheets/partials/_layout.scss */
.export-list li:nth-child(2) a span, .column.export ul li:nth-child(2) a span, #export-all ul li:nth-child(2) a span {
  background-position: 0 -16px;
}
/* line 433, ../../../app/stylesheets/partials/_layout.scss */
.export-list li:nth-child(3) a span, .column.export ul li:nth-child(3) a span, #export-all ul li:nth-child(3) a span {
  background-position: 0 -32px;
}
/* line 437, ../../../app/stylesheets/partials/_layout.scss */
.export-list li:nth-child(4) a span, .column.export ul li:nth-child(4) a span, #export-all ul li:nth-child(4) a span {
  background-position: 0 -48px;
}

/* line 445, ../../../app/stylesheets/partials/_layout.scss */
#export-all ul {
  float: right;
  margin: 20px 30px -30px 0;
}
/* line 451, ../../../app/stylesheets/partials/_layout.scss */
#export-all ul li {
  width: 80px;
  float: left;
}

/* line 458, ../../../app/stylesheets/partials/_layout.scss */
.list-container {
  margin-left: 30px;
}
/* line 462, ../../../app/stylesheets/partials/_layout.scss */
.list-container ul {
  margin: 0 0 30px;
  padding: 0;
  list-style: none;
}
/* line 467, ../../../app/stylesheets/partials/_layout.scss */
.list-container ul li {
  line-height: 22px;
  font-size: 13px;
}
/* line 471, ../../../app/stylesheets/partials/_layout.scss */
.list-container ul li:first-child {
  line-height: 24px;
  font-weight: bold;
}
/* line 476, ../../../app/stylesheets/partials/_layout.scss */
.list-container ul li + li:before {
  content: "›";
  margin-right: 8px;
  margin-left: 10px;
}
/* line 484, ../../../app/stylesheets/partials/_layout.scss */
.list-container div {
  float: left;
  width: 280px;
  margin-right: 30px;
}

/* line 491, ../../../app/stylesheets/partials/_layout.scss */
#lightbox {
  display: none;
  background: #fff;
  opacity: 0.7;
  filter: alpha(opacity=70);
  position: fixed;
  top: 0px;
  left: 0px;
  min-width: 100%;
  min-height: 100%;
  z-index: 1000;
}

/* line 503, ../../../app/stylesheets/partials/_layout.scss */
#lightbox-container {
  display: none;
  position: fixed;
  top: 200px;
  left: 50%;
  margin-left: -200px;
  width: 340px;
  background: #fff;
  border: 1px solid #00728f;
  padding: 20px 30px;
  z-index: 1001;
  -moz-box-shadow: 0px 0px 5px #ccc;
  -webkit-box-shadow: 0px 0px 5px #ccc;
  box-shadow: 0px 0px 5px #ccc;
}
/* line 518, ../../../app/stylesheets/partials/_layout.scss */
#lightbox-container img {
  display: block;
  margin: 30px auto;
}
/* line 523, ../../../app/stylesheets/partials/_layout.scss */
#lightbox-container p {
  text-align: center;
  color: #00728f;
}
/* line 528, ../../../app/stylesheets/partials/_layout.scss */
#lightbox-container span {
  display: block;
  text-align: center;
  font-size: 13px;
  color: #999;
  line-height: 20px;
}

/* line 536, ../../../app/stylesheets/partials/_layout.scss */
.footer-spacer {
  height: 30px;
}

/* line 1, ../../../app/stylesheets/partials/_splash.scss */
body#splash {
  background: url('/images/embed/bg-splash.png?1309206789') repeat-x;
  overflow-x: hidden;
}
/* line 5, ../../../app/stylesheets/partials/_splash.scss */
body#splash #contact {
  margin-right: 110px;
}
/* line 9, ../../../app/stylesheets/partials/_splash.scss */
body#splash #road {
  position: absolute;
  background: url('/images/road.png?1309208271');
  width: 568px;
  height: 541px;
  right: -180px;
  top: 0px;
  z-index: 5;
}
/* line 19, ../../../app/stylesheets/partials/_splash.scss */
body#splash section {
  padding-top: 40px;
  height: 271px;
}
/* line 23, ../../../app/stylesheets/partials/_splash.scss */
body#splash section h2 {
  text-indent: -9999px;
  width: 594px;
  height: 55px;
  background: url('/images/splash-text.png?1309208387');
  background-repeat: no-repeat;
  margin: 0px 10px 15px;
  padding: 0;
}
/* line 33, ../../../app/stylesheets/partials/_splash.scss */
body#splash section div {
  background: url('/images/embed/splash-box-top.png?1309208463') 1px 0;
  background-repeat: no-repeat;
  width: 754px;
  padding-top: 2px;
  margin-top: 20px;
}
/* line 40, ../../../app/stylesheets/partials/_splash.scss */
body#splash section div p {
  background: url('/images/embed/splash-box-bottom.png?1309208509') bottom left;
  padding: 5px 160px 10px 10px;
  margin: 0;
  color: #bbd9e0;
  font-size: 13px;
  line-height: 18px;
  text-shadow: 0px 1px 2px #000;
}
/* line 49, ../../../app/stylesheets/partials/_splash.scss */
body#splash section div p a {
  /* "Begin Calculations ›" link text */
  text-decoration: none;
  color: #fff227;
}
/* line 53, ../../../app/stylesheets/partials/_splash.scss */
body#splash section div p a:hover {
  border-bottom: 1px solid #fff227;
}
/* line 57, ../../../app/stylesheets/partials/_splash.scss */
body#splash section div p a:after {
  content: "";
  padding: 0 4px;
  margin-left: 5px;
  background: url('/images/embed/arrow-shadow-yellow.png?1309208561') 0px 3px;
  background-repeat: no-repeat;
}
/* line 66, ../../../app/stylesheets/partials/_splash.scss */
body#splash section div p span {
  color: #04323f;
  margin-left: 10px;
  text-shadow: #009bc2 0px 1px 2px;
}
/* line 74, ../../../app/stylesheets/partials/_splash.scss */
body#splash section + section {
  padding-top: 0px;
  margin-top: 0px;
  height: 162px;
}
/* line 79, ../../../app/stylesheets/partials/_splash.scss */
body#splash section + section p {
  padding: 15px 0 10px 10px;
  margin: 0;
  font-size: 14px;
  font-weight: bold;
  color: #444;
}
/* line 86, ../../../app/stylesheets/partials/_splash.scss */
body#splash section + section p a {
  color: #00728f;
  text-decoration: none;
}
/* line 90, ../../../app/stylesheets/partials/_splash.scss */
body#splash section + section p a:hover {
  border-bottom: 1px solid #00728f;
}
/* line 94, ../../../app/stylesheets/partials/_splash.scss */
body#splash section + section p a:after {
  content: "";
  padding: 0 4px;
  margin-left: 5px;
  background: url('/images/embed/arrow-blue.png?1309208642') 0px 3px;
  background-repeat: no-repeat;
}
/* line 104, ../../../app/stylesheets/partials/_splash.scss */
body#splash section + section ul {
  list-style: none;
  padding: 0;
  margin: -15px 0 0;
}
/* line 110, ../../../app/stylesheets/partials/_splash.scss */
body#splash section + section ul li {
  float: left;
  width: 175px;
  height: 135px;
  background: url('/images/embed/splash-photo-frame.png?1309208708');
  margin-left: -3px;
}
/* line 117, ../../../app/stylesheets/partials/_splash.scss */
body#splash section + section ul li a {
  border: none;
}
/* line 121, ../../../app/stylesheets/partials/_splash.scss */
body#splash section + section ul li img {
  width: 130px;
  height: 90px;
  margin: 27px 0 0 18px;
  border: none;
}
/* line 128, ../../../app/stylesheets/partials/_splash.scss */
body#splash section + section ul li + li {
  margin-left: -10px;
}
/* line 136, ../../../app/stylesheets/partials/_splash.scss */
body#splash form#new_record {
  padding: 0;
  margin-top: -8px;
}
/* line 141, ../../../app/stylesheets/partials/_splash.scss */
body#splash form#new_record div:first-child[style] {
  display: none !important;
}
/* line 145, ../../../app/stylesheets/partials/_splash.scss */
body#splash form#new_record li {
  whitespace: nowrap;
}
/* line 151, ../../../app/stylesheets/partials/_splash.scss */
body#splash form#new_record #calc-input-fields span b {
  font-weight: normal;
}
/* line 155, ../../../app/stylesheets/partials/_splash.scss */
body#splash form#new_record #calc-input-fields input[type="text"] {
  width: 190px;
}
/* line 160, ../../../app/stylesheets/partials/_splash.scss */
body#splash form#new_record a#sample-data {
  float: right;
  position: relative;
  top: 38px;
  display: inline;
  font-size: 11px;
  background: #eee;
  border: 1px solid #ccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 7px;
  color: #999;
  text-decoration: none;
  text-transform: uppercase;
}
/* line 176, ../../../app/stylesheets/partials/_splash.scss */
body#splash form#new_record a#sample-data:hover {
  color: #fff;
  border-color: #00728f;
  background: #00728f;
}
/* line 182, ../../../app/stylesheets/partials/_splash.scss */
body#splash form#new_record a#sample-data:active {
  color: #ccc;
}
/* line 188, ../../../app/stylesheets/partials/_splash.scss */
body#splash .sidebar {
  float: left;
  width: 225px;
  padding: 70px 0 0 15px;
}
/* line 193, ../../../app/stylesheets/partials/_splash.scss */
body#splash .sidebar h3 span, body#splash .sidebar h5 span {
  background: #f0f0f0;
}
/* line 197, ../../../app/stylesheets/partials/_splash.scss */
body#splash .sidebar ul {
  list-style: none;
  padding: 0;
}
/* line 201, ../../../app/stylesheets/partials/_splash.scss */
body#splash .sidebar ul li {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}
/* line 207, ../../../app/stylesheets/partials/_splash.scss */
body#splash .sidebar ul li:before {
  content: "\203A";
}
/* line 211, ../../../app/stylesheets/partials/_splash.scss */
body#splash .sidebar ul li blockquote {
  text-transform: none;
  font-weight: normal;
  font-size: 13px;
  background: #e5e5e5;
  color: #444;
  padding: 8px;
  margin: 5px 0 20px 0;
}

/* line 1, ../../../app/stylesheets/partials/_forms.scss */
.round-input, .input-form ul li input[type="text"], body#splash form#new_record ul li input[type="text"], #new_support ul li input[type="text"], #new_support textarea {
  display: block;
  font-size: 14px;
  border: 1px solid #919191;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 3px;
}
/* line 10, ../../../app/stylesheets/partials/_forms.scss */
.round-input:focus, .input-form ul li input[type="text"]:focus, body#splash form#new_record ul li input[type="text"]:focus, #new_support ul li input[type="text"]:focus, #new_support textarea:focus {
  outline: none;
  border: 1px solid #00728f;
  background: #f5fdff;
}

/* line 17, ../../../app/stylesheets/partials/_forms.scss */
.input-form, body#splash form#new_record, #new_support {
  font-size: 14px;
}
/* line 20, ../../../app/stylesheets/partials/_forms.scss */
.input-form ul, body#splash form#new_record ul, #new_support ul {
  list-style: none;
  padding-left: 0px;
  margin: 25px 20px 15px;
}
/* line 26, ../../../app/stylesheets/partials/_forms.scss */
.input-form ul#customer-input, body#splash form#new_record ul#customer-input, #new_support ul#customer-input, .input-form ul.customer-input, body#splash form#new_record ul.customer-input, #new_support ul.customer-input {
  margin-bottom: 30px;
}
/* line 29, ../../../app/stylesheets/partials/_forms.scss */
.input-form ul#customer-input label, body#splash form#new_record ul#customer-input label, #new_support ul#customer-input label, .input-form ul.customer-input label, body#splash form#new_record ul.customer-input label, #new_support ul.customer-input label {
  width: 130px;
}
/* line 34, ../../../app/stylesheets/partials/_forms.scss */
.input-form ul li, body#splash form#new_record ul li, #new_support ul li {
  height: 40px;
}
/* line 38, ../../../app/stylesheets/partials/_forms.scss */
.input-form ul li #record_contactable, body#splash form#new_record ul li #record_contactable, #new_support ul li #record_contactable {
  margin: 8px 0 0 30px;
}
/* line 42, ../../../app/stylesheets/partials/_forms.scss */
.input-form ul li label[for=record_contactable], body#splash form#new_record ul li label[for=record_contactable], #new_support ul li label[for=record_contactable] {
  width: 300px !important;
}
/* line 46, ../../../app/stylesheets/partials/_forms.scss */
.input-form ul li label, body#splash form#new_record ul li label, #new_support ul li label {
  display: block;
  float: left;
  width: 300px;
  margin-top: 5px;
}
/* line 53, ../../../app/stylesheets/partials/_forms.scss */
.input-form ul li input[type="text"], body#splash form#new_record ul li input[type="text"], #new_support ul li input[type="text"] {
  float: left;
  height: 20px;
}
/* line 59, ../../../app/stylesheets/partials/_forms.scss */
.input-form ul li span, body#splash form#new_record ul li span, #new_support ul li span {
  display: block;
  float: left;
  margin: 5px 0 0 8px;
  color: #666;
}

/* line 69, ../../../app/stylesheets/partials/_forms.scss */
select {
  display: block;
  float: left;
  height: 28px;
  font-size: 14px;
  border: 1px solid #919191;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
/* line 79, ../../../app/stylesheets/partials/_forms.scss */
select:focus {
  outline: none;
  border: 1px solid #00728f;
}

/* line 85, ../../../app/stylesheets/partials/_forms.scss */
input[type="submit"], .edit-container #recalc-container a {
  float: right;
  width: 102px;
  height: 38px;
  border: none;
  background: url('/images/embed/submit.png?1309209603');
  font-size: 15px;
  color: #00728f;
}
/* line 94, ../../../app/stylesheets/partials/_forms.scss */
input[type="submit"]:hover, .edit-container #recalc-container a:hover {
  background-position: right -38px;
  cursor: pointer;
}
/* line 99, ../../../app/stylesheets/partials/_forms.scss */
input[type="submit"]:active, .edit-container #recalc-container a:active {
  background-position: right -76px;
}
/* line 103, ../../../app/stylesheets/partials/_forms.scss */
input[type="submit"][disabled], .edit-container #recalc-container a[disabled] {
  background-image: none;
  background: #e1e1e1;
  border: 1px solid #b7b7b7;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  width: 130px;
  color: #888;
}

/* line 118, ../../../app/stylesheets/partials/_forms.scss */
#new_support span#content-title {
  margin: 30px 20px 10px;
  display: block;
  font-size: 12px;
  color: #666;
}
/* line 125, ../../../app/stylesheets/partials/_forms.scss */
#new_support div.easy-clear, #new_support div.container, #new_support div#tabs-container, #new_support div.column, #new_support div#export-all, #new_support div.list-container, #new_support div.all-table-container, #new_support .edit-container div#recalc-container, .edit-container #new_support div#recalc-container {
  margin-bottom: 30px;
}
/* line 129, ../../../app/stylesheets/partials/_forms.scss */
#new_support textarea {
  margin-left: 20px;
  float: left;
  width: 410px;
  min-width: 410px;
  max-width: 410px;
  height: 250px;
}

/* line 141, ../../../app/stylesheets/partials/_forms.scss */
.field_with_errors label {
  color: #8f0000;
}
/* line 145, ../../../app/stylesheets/partials/_forms.scss */
.field_with_errors input {
  border: 1px solid #8f0000 !important;
}

/* line 1, ../../../app/stylesheets/partials/_text.scss */
h2 {
  /* Applied to page titles, ex: "RoadDSS Calculator Results" */
  font-weight: normal;
  color: #003f53;
  padding: 25px 0 15px 10px;
  margin: 0;
  font-size: 22px;
}
/* line 9, ../../../app/stylesheets/partials/_text.scss */
h2 span {
  display: none;
}

/* line 14, ../../../app/stylesheets/partials/_text.scss */
h3, h5 {
  /* Used in section titles, blue with horizontal line, ex: Customer Information */
  padding: 0;
  margin-top: 0px;
  height: 16px;
  color: #00728f;
  font-size: 14px;
  font-weight: bold;
  background: url('/images/embed/divider-h.png?1309209197') 0px 9px;
  background-repeat: repeat-x;
}
/* line 25, ../../../app/stylesheets/partials/_text.scss */
h3 span, h5 span {
  /* to white out the horizontal line behind the text */
  padding: 0 10px 0 0;
  background: #fff;
}

/* line 32, ../../../app/stylesheets/partials/_text.scss */
h4 {
  /* Used in table labels, with verital divider, ex: "Efficiency Savings" */
  width: 190px;
  float: left;
  text-align: right;
  padding: 0 20px;
  margin: 0;
  color: #00728f;
  font-size: 18px;
  line-height: 24px;
}

/* line 44, ../../../app/stylesheets/partials/_text.scss */
h5 {
  /* Same as h3, but bigger. Used in "All Benefits" and "Other Benefits" */
  font-size: 20px;
  height: 22px;
  background-position: 0 13px;
  margin: 20px 30px;
}

/* line 53, ../../../app/stylesheets/partials/_text.scss */
h6 {
  /* Table titles on "All Benefits" page only. */
  float: left;
  width: 435px;
  margin: 0;
  padding: 0 0 5px;
  color: #00728f;
  font-size: 13px;
  border-bottom: 1px solid #00728f;
}
/* line 63, ../../../app/stylesheets/partials/_text.scss */
h6 + h6 {
  margin-left: 30px;
}

/* line 1, ../../../app/stylesheets/partials/_tables.scss */
table {
  width: 460px;
  font-size: 12px;
  border: none;
  border-collapse: collapse;
}
/* line 8, ../../../app/stylesheets/partials/_tables.scss */
table tr td {
  padding: 5px;
}
/* line 11, ../../../app/stylesheets/partials/_tables.scss */
table tr td:nth-child(2) {
  text-align: right !important;
}
/* line 16, ../../../app/stylesheets/partials/_tables.scss */
table tr.sum {
  border-top: 1px solid #00728f;
  background: #e3eff9 !important;
  color: #00728f;
  font-weight: bold;
}
/* line 23, ../../../app/stylesheets/partials/_tables.scss */
table tr:nth-child(odd) {
  background: #ebebeb;
}

/* line 29, ../../../app/stylesheets/partials/_tables.scss */
.all-table-container {
  width: 900px;
  margin: 0 30px 50px;
}
/* line 34, ../../../app/stylesheets/partials/_tables.scss */
.all-table-container table {
  width: 435px;
  float: left;
}
/* line 38, ../../../app/stylesheets/partials/_tables.scss */
.all-table-container table + table {
  margin-left: 30px;
}
/* line 43, ../../../app/stylesheets/partials/_tables.scss */
.all-table-container.last {
  margin-bottom: 30px;
}

/* line 48, ../../../app/stylesheets/partials/_tables.scss */
.table-container {
  float: left;
  padding-left: 19px;
  border-left: 1px solid #00728f;
  margin-bottom: 50px;
}

/* line 55, ../../../app/stylesheets/partials/_tables.scss */
.edit-container {
  margin: 50px 0;
}
/* line 58, ../../../app/stylesheets/partials/_tables.scss */
.edit-container #recalc-container {
  margin: 0 30px 50px;
}
/* line 62, ../../../app/stylesheets/partials/_tables.scss */
.edit-container #recalc-container p {
  width: 670px;
  float: left;
  padding: 0;
  margin: 0;
  font-size: 12px;
  color: #00728f;
  line-height: 18px;
  text-align: right;
}
/* line 73, ../../../app/stylesheets/partials/_tables.scss */
.edit-container #recalc-container a {
  display: block;
  background: url('/images/embed/submit-right.png?1310923545') right top;
  width: auto;
  line-height: 35px;
  text-decoration: none;
  padding: 0 14px 0 6px;
}
/* line 83, ../../../app/stylesheets/partials/_tables.scss */
.edit-container #recalc-container a:hover:before {
  background-position: 0 -38px;
  cursor: pointer;
}
/* line 90, ../../../app/stylesheets/partials/_tables.scss */
.edit-container #recalc-container a:active:before {
  background-position: 0 -76px;
}
/* line 95, ../../../app/stylesheets/partials/_tables.scss */
.edit-container #recalc-container a:before {
  content: "";
  display: block;
  float: left;
  width: 4px;
  height: 38px;
  position: relative;
  left: -10px;
  background: url('/images/embed/submit-left.png?1310923515') left top;
}
/* line 108, ../../../app/stylesheets/partials/_tables.scss */
.edit-container table {
  width: 680px;
  font-size: 13px;
  table-layout: fixed;
}
/* line 114, ../../../app/stylesheets/partials/_tables.scss */
.edit-container table#customer-info-table input {
  width: 215px;
  background: url('/images/embed/input-medium.png?1310922648') right;
}
/* line 119, ../../../app/stylesheets/partials/_tables.scss */
.edit-container table#customer-info-table td:nth-child(1) {
  width: 140px;
}
/* line 123, ../../../app/stylesheets/partials/_tables.scss */
.edit-container table#customer-info-table td:nth-child(2) {
  width: 280px;
}
/* line 128, ../../../app/stylesheets/partials/_tables.scss */
.edit-container table tr {
  height: 35px;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  background-color: transparent;
}
/* line 134, ../../../app/stylesheets/partials/_tables.scss */
.edit-container table tr.edit-row {
  background: #edfffc;
  font-weight: bold;
  cursor: default !important;
  height: 50px;
}
/* line 140, ../../../app/stylesheets/partials/_tables.scss */
.edit-container table tr.edit-row span.edit {
  display: none !important;
}
/* line 144, ../../../app/stylesheets/partials/_tables.scss */
.edit-container table tr.edit-row span.save {
  display: inline;
  font-weight: normal;
}
/* line 150, ../../../app/stylesheets/partials/_tables.scss */
.edit-container table tr:hover {
  background: #edfffc;
  font-weight: bold;
  cursor: pointer;
}
/* line 155, ../../../app/stylesheets/partials/_tables.scss */
.edit-container table tr:hover td span.edit {
  display: inline;
  font-weight: normal;
}
/* line 161, ../../../app/stylesheets/partials/_tables.scss */
.edit-container table tr.non-editable:hover {
  background: #fff;
  font-weight: normal;
  cursor: default;
}
/* line 166, ../../../app/stylesheets/partials/_tables.scss */
.edit-container table tr.non-editable:hover span {
  display: inline;
  padding-left: 20px;
  background: url('/images/embed/icon-disabled.png?1311219856') left 1px no-repeat;
  font-weight: normal;
}
/* line 174, ../../../app/stylesheets/partials/_tables.scss */
.edit-container table tr td {
  padding: 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
/* line 180, ../../../app/stylesheets/partials/_tables.scss */
.edit-container table tr td span {
  color: #9ca8a6;
  display: none;
}
/* line 184, ../../../app/stylesheets/partials/_tables.scss */
.edit-container table tr td span.edit {
  padding-left: 20px;
  background: url('/images/embed/icon-edit.png?1310794242') left top no-repeat;
}
/* line 190, ../../../app/stylesheets/partials/_tables.scss */
.edit-container table tr td input {
  width: 110px;
  height: 25px;
  background: url('/images/embed/input-small.png?1310922015') right;
  border: none;
  outline: none;
  text-align: right;
  padding: 0 5px 0 0;
  margin: 0;
}
/* line 201, ../../../app/stylesheets/partials/_tables.scss */
.edit-container table tr td:nth-child(1) {
  width: 300px;
}
/* line 205, ../../../app/stylesheets/partials/_tables.scss */
.edit-container table tr td:nth-child(2) {
  color: #555;
  width: 120px;
}
/* line 210, ../../../app/stylesheets/partials/_tables.scss */
.edit-container table tr td:nth-child(3) {
  color: #888;
}
/* line 214, ../../../app/stylesheets/partials/_tables.scss */
.edit-container table tr td:nth-child(4) {
  width: 120px;
  white-space: normal;
  text-overflow: clip;
  overflow: visible;
}

/* line 226, ../../../app/stylesheets/partials/_tables.scss */
body#index table {
  background: #fafafa;
}
/* line 229, ../../../app/stylesheets/partials/_tables.scss */
body#index table tr {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
/* line 233, ../../../app/stylesheets/partials/_tables.scss */
body#index table tr.header-row {
  background: #ddd;
}
/* line 238, ../../../app/stylesheets/partials/_tables.scss */
body#index table td, body#index table th {
  padding: 10px;
  vertical-align: bottom;
  text-align: left;
}
/* line 243, ../../../app/stylesheets/partials/_tables.scss */
body#index table td.total, body#index table th.total {
  font-weight: bold;
  color: #00728f;
}
/* line 249, ../../../app/stylesheets/partials/_tables.scss */
body#index table td {
  white-space: nowrap;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 255, ../../../app/stylesheets/partials/_tables.scss */
body#index table td.total {
  font-weight: bold;
  color: #00728f;
}

/* line 1, ../../../app/stylesheets/partials/_flashes.scss */
.flash {
  height: 25px;
  margin-top: 18px;
  text-align: center;
  font-size: 14px;
  padding-top: 6px;
}
/* line 8, ../../../app/stylesheets/partials/_flashes.scss */
.flash span {
  padding-left: 27px;
}

/* line 13, ../../../app/stylesheets/partials/_flashes.scss */
.flash.success {
  background: #C7E9C7;
  border: 1px solid #006600;
  color: #006600;
}
/* line 18, ../../../app/stylesheets/partials/_flashes.scss */
.flash.success span {
  background: url('/images/embed/flash-success.png?1311017964') no-repeat;
}

/* line 23, ../../../app/stylesheets/partials/_flashes.scss */
.flash.failure {
  background: #EEBDBD;
  border: 1px solid #790000;
  color: #790000;
}
/* line 28, ../../../app/stylesheets/partials/_flashes.scss */
.flash.failure span {
  background: url('/images/embed/flash-failure.png?1311018453') no-repeat;
}

/* line 1, ../../../app/stylesheets/partials/_contact.scss */
body#contact {
  overflow-x: hidden;
  position: relative;
  padding-bottom: 50px;
}
/* line 6, ../../../app/stylesheets/partials/_contact.scss */
body#contact #road {
  position: absolute;
  background: url('/images/road-faded.png?1309208305') no-repeat;
  width: 568px;
  height: 541px;
  right: -180px;
  top: 0px;
  z-index: 5;
}
/* line 16, ../../../app/stylesheets/partials/_contact.scss */
body#contact .container {
  position: absolute;
  z-index: 100;
  margin-top: 15px;
  float: none;
}
/* line 23, ../../../app/stylesheets/partials/_contact.scss */
body#contact p {
  float: left;
  width: 200px;
  line-height: 22px;
  font-size: 13px;
  color: #444;
  margin: 0 0 0 20px;
}

/* line 2, ../../../app/stylesheets/partials/_index.scss */
body#index header {
  width: auto;
}
/* line 6, ../../../app/stylesheets/partials/_index.scss */
body#index h2 a {
  display: inline;
  font-size: 11px;
  margin-left: 10px;
  background: #ddd;
  border: 1px solid #ccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 4px;
  color: #999;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  bottom: 4px;
}
/* line 22, ../../../app/stylesheets/partials/_index.scss */
body#index h2 a:hover {
  color: #00728f;
  border-color: #00728f;
  background: #fff;
}
/* line 28, ../../../app/stylesheets/partials/_index.scss */
body#index h2 a:active {
  background: #bbb;
}
/* line 34, ../../../app/stylesheets/partials/_index.scss */
body#index .flash {
  border-left: none;
  border-right: none;
}

/*
 * FancyBox - jQuery Plugin
 * Simple and fancy lightbox alternative
 *
 * Examples and documentation at: http://fancybox.net
 * 
 * Copyright (c) 2008 - 2010 Janis Skarnelis
 * That said, it is hardly a one-person project. Many people have submitted bugs, code, and offered their advice freely. Their support is greatly appreciated.
 * 
 * Version: 1.3.4 (11/11/2010)
 * Requires: jQuery v1.3+
 *
 * Dual licensed under the MIT and GPL licenses:
 *   http://www.opensource.org/licenses/mit-license.php
 *   http://www.gnu.org/licenses/gpl.html
 */
/* line 18, ../../../app/stylesheets/partials/_fancybox.scss */
#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  margin-left: -20px;
  cursor: pointer;
  overflow: hidden;
  z-index: 1104;
  display: none;
}

/* line 32, ../../../app/stylesheets/partials/_fancybox.scss */
#fancybox-loading div {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 480px;
  background: url('/images/fancybox/fancybox.png?1267776570');
}

/* line 41, ../../../app/stylesheets/partials/_fancybox.scss */
#fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1100;
  display: none;
}

/* line 50, ../../../app/stylesheets/partials/_fancybox.scss */
#fancybox-tmp {
  padding: 0;
  margin: 0;
  border: 0;
  overflow: auto;
  display: none;
}

/* line 58, ../../../app/stylesheets/partials/_fancybox.scss */
#fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  z-index: 1101;
  outline: none;
  display: none;
}

/* line 68, ../../../app/stylesheets/partials/_fancybox.scss */
#fancybox-outer {
  position: relative;
  width: 100%;
  height: 100%;
  background: #fff;
}

/* line 75, ../../../app/stylesheets/partials/_fancybox.scss */
#fancybox-content {
  width: 0;
  height: 0;
  padding: 0;
  outline: none;
  position: relative;
  overflow: hidden;
  z-index: 1102;
  border: 0px solid #fff;
}

/* line 86, ../../../app/stylesheets/partials/_fancybox.scss */
#fancybox-hide-sel-frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 1101;
}

/* line 96, ../../../app/stylesheets/partials/_fancybox.scss */
#fancybox-close {
  position: absolute;
  top: -15px;
  right: -15px;
  width: 30px;
  height: 30px;
  background: transparent url("fancybox.png") -40px 0px;
  cursor: pointer;
  z-index: 1103;
  display: none;
}

/* line 108, ../../../app/stylesheets/partials/_fancybox.scss */
#fancybox-error {
  color: #444;
  font: normal 12px/20px Arial;
  padding: 14px;
  margin: 0;
}

/* line 115, ../../../app/stylesheets/partials/_fancybox.scss */
#fancybox-img {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  line-height: 0;
  vertical-align: top;
}

/* line 126, ../../../app/stylesheets/partials/_fancybox.scss */
#fancybox-frame {
  width: 100%;
  height: 100%;
  border: none;
  display: block;
}

/* line 133, ../../../app/stylesheets/partials/_fancybox.scss */
#fancybox-left, #fancybox-right {
  position: absolute;
  bottom: 0px;
  height: 100%;
  width: 35%;
  cursor: pointer;
  outline: none;
  background: transparent url("blank.gif");
  z-index: 1102;
  display: none;
}

/* line 145, ../../../app/stylesheets/partials/_fancybox.scss */
#fancybox-left {
  left: 0px;
}

/* line 149, ../../../app/stylesheets/partials/_fancybox.scss */
#fancybox-right {
  right: 0px;
}

/* line 153, ../../../app/stylesheets/partials/_fancybox.scss */
#fancybox-left-ico, #fancybox-right-ico {
  position: absolute;
  top: 50%;
  left: -9999px;
  width: 30px;
  height: 30px;
  margin-top: -15px;
  cursor: pointer;
  z-index: 1102;
  display: block;
}

/* line 165, ../../../app/stylesheets/partials/_fancybox.scss */
#fancybox-left-ico {
  background: url('/images/fancybox/fancybox.png?1267776570');
  background-position: -40px -30px;
}

/* line 170, ../../../app/stylesheets/partials/_fancybox.scss */
#fancybox-right-ico {
  background: url('/images/fancybox/fancybox.png?1267776570');
  background-position: -40px -60px;
}

/* line 175, ../../../app/stylesheets/partials/_fancybox.scss */
#fancybox-left:hover, #fancybox-right:hover {
  visibility: visible;
  /* IE6 */
}

/* line 179, ../../../app/stylesheets/partials/_fancybox.scss */
#fancybox-left:hover span {
  left: 20px;
}

/* line 183, ../../../app/stylesheets/partials/_fancybox.scss */
#fancybox-right:hover span {
  left: auto;
  right: 20px;
}

/* line 188, ../../../app/stylesheets/partials/_fancybox.scss */
.fancybox-bg {
  position: absolute;
  padding: 0;
  margin: 0;
  border: 0;
  width: 20px;
  height: 20px;
  z-index: 1001;
}

/* line 198, ../../../app/stylesheets/partials/_fancybox.scss */
#fancybox-bg-n {
  top: -20px;
  left: 0;
  width: 100%;
  background: url('/images/fancybox/fancybox-x.png?1267810890');
}

/* line 205, ../../../app/stylesheets/partials/_fancybox.scss */
#fancybox-bg-ne {
  top: -20px;
  right: -20px;
  background: url('/images/fancybox/fancybox.png?1267776570');
  background-position: -40px -162px;
}

/* line 212, ../../../app/stylesheets/partials/_fancybox.scss */
#fancybox-bg-e {
  top: 0;
  right: -20px;
  height: 100%;
  background: url('/images/fancybox/fancybox-y.png?1267810548');
  background-position: -20px 0px;
}

/* line 220, ../../../app/stylesheets/partials/_fancybox.scss */
#fancybox-bg-se {
  bottom: -20px;
  right: -20px;
  background: url('/images/fancybox/fancybox.png?1267776570');
  background-position: -40px -182px;
}

/* line 227, ../../../app/stylesheets/partials/_fancybox.scss */
#fancybox-bg-s {
  bottom: -20px;
  left: 0;
  width: 100%;
  background: url('/images/fancybox/fancybox-x.png?1267810890');
  background-position: 0px -20px;
}

/* line 235, ../../../app/stylesheets/partials/_fancybox.scss */
#fancybox-bg-sw {
  bottom: -20px;
  left: -20px;
  background: url('/images/fancybox/fancybox.png?1267776570');
  background-position: -40px -142px;
}

/* line 242, ../../../app/stylesheets/partials/_fancybox.scss */
#fancybox-bg-w {
  top: 0;
  left: -20px;
  height: 100%;
  background: url('/images/fancybox/fancybox-y.png?1267810548');
}

/* line 249, ../../../app/stylesheets/partials/_fancybox.scss */
#fancybox-bg-nw {
  top: -20px;
  left: -20px;
  background: url('/images/fancybox/fancybox.png?1267776570');
  background-position: -40px -122px;
}

/* line 256, ../../../app/stylesheets/partials/_fancybox.scss */
#fancybox-title {
  font-family: Helvetica;
  font-size: 12px;
  z-index: 1102;
}

/* line 262, ../../../app/stylesheets/partials/_fancybox.scss */
.fancybox-title-inside {
  padding-bottom: 10px;
  text-align: center;
  color: #333;
  background: #fff;
  position: relative;
}

/* line 270, ../../../app/stylesheets/partials/_fancybox.scss */
.fancybox-title-outside {
  padding-top: 10px;
  color: #fff;
}

/* line 275, ../../../app/stylesheets/partials/_fancybox.scss */
.fancybox-title-over {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #FFF;
  text-align: left;
}

/* line 283, ../../../app/stylesheets/partials/_fancybox.scss */
#fancybox-title-over {
  padding: 10px;
  background: url('/images/fancybox/fancy_title_over.png?1265138834');
  display: block;
}

/* line 289, ../../../app/stylesheets/partials/_fancybox.scss */
.fancybox-title-float {
  position: absolute;
  left: 0;
  bottom: -20px;
  height: 32px;
}

/* line 296, ../../../app/stylesheets/partials/_fancybox.scss */
#fancybox-title-float-wrap {
  border: none;
  border-collapse: collapse;
  width: auto;
}

/* line 302, ../../../app/stylesheets/partials/_fancybox.scss */
#fancybox-title-float-wrap td {
  border: none;
  white-space: nowrap;
}

/* line 307, ../../../app/stylesheets/partials/_fancybox.scss */
#fancybox-title-float-left {
  padding: 0 0 0 15px;
  background: url("fancybox.png") -40px -90px no-repeat;
}

/* line 312, ../../../app/stylesheets/partials/_fancybox.scss */
#fancybox-title-float-main {
  color: #FFF;
  line-height: 29px;
  font-weight: bold;
  padding: 0 0 3px 0;
  background: url("fancybox-x.png") 0px -40px;
}

/* line 320, ../../../app/stylesheets/partials/_fancybox.scss */
#fancybox-title-float-right {
  padding: 0 0 0 15px;
  background: url("fancybox.png") -55px -90px no-repeat;
}

/* IE6 */
/* line 327, ../../../app/stylesheets/partials/_fancybox.scss */
.fancybox-ie6 #fancybox-close {
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_close.png', sizingMethod='scale');
}

/* line 329, ../../../app/stylesheets/partials/_fancybox.scss */
.fancybox-ie6 #fancybox-left-ico {
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_nav_left.png', sizingMethod='scale');
}

/* line 330, ../../../app/stylesheets/partials/_fancybox.scss */
.fancybox-ie6 #fancybox-right-ico {
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_nav_right.png', sizingMethod='scale');
}

/* line 332, ../../../app/stylesheets/partials/_fancybox.scss */
.fancybox-ie6 #fancybox-title-over {
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_title_over.png', sizingMethod='scale');
  zoom: 1;
}

/* line 333, ../../../app/stylesheets/partials/_fancybox.scss */
.fancybox-ie6 #fancybox-title-float-left {
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_title_left.png', sizingMethod='scale');
}

/* line 334, ../../../app/stylesheets/partials/_fancybox.scss */
.fancybox-ie6 #fancybox-title-float-main {
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_title_main.png', sizingMethod='scale');
}

/* line 335, ../../../app/stylesheets/partials/_fancybox.scss */
.fancybox-ie6 #fancybox-title-float-right {
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_title_right.png', sizingMethod='scale');
}

/* line 337, ../../../app/stylesheets/partials/_fancybox.scss */
.fancybox-ie6 #fancybox-bg-w, .fancybox-ie6 #fancybox-bg-e, .fancybox-ie6 #fancybox-left, .fancybox-ie6 #fancybox-right, #fancybox-hide-sel-frame {
  height: expression(this.parentNode.clientHeight + "px");
}

/* line 341, ../../../app/stylesheets/partials/_fancybox.scss */
#fancybox-loading.fancybox-ie6 {
  position: absolute;
  margin-top: 0;
  top: expression((-20 + (document.documentElement.clientHeight ? document.documentElement.clientHeight/2 : document.body.clientHeight/2 ) + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop )) + 'px');
}

/* line 346, ../../../app/stylesheets/partials/_fancybox.scss */
#fancybox-loading.fancybox-ie6 div {
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_loading.png', sizingMethod='scale');
}

/* IE6, IE7, IE8 */
/* line 350, ../../../app/stylesheets/partials/_fancybox.scss */
.fancybox-ie .fancybox-bg {
  background: transparent !important;
}

/* line 352, ../../../app/stylesheets/partials/_fancybox.scss */
.fancybox-ie #fancybox-bg-n {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_n.png', sizingMethod='scale');
}

/* line 353, ../../../app/stylesheets/partials/_fancybox.scss */
.fancybox-ie #fancybox-bg-ne {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_ne.png', sizingMethod='scale');
}

/* line 354, ../../../app/stylesheets/partials/_fancybox.scss */
.fancybox-ie #fancybox-bg-e {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_e.png', sizingMethod='scale');
}

/* line 355, ../../../app/stylesheets/partials/_fancybox.scss */
.fancybox-ie #fancybox-bg-se {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_se.png', sizingMethod='scale');
}

/* line 356, ../../../app/stylesheets/partials/_fancybox.scss */
.fancybox-ie #fancybox-bg-s {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_s.png', sizingMethod='scale');
}

/* line 357, ../../../app/stylesheets/partials/_fancybox.scss */
.fancybox-ie #fancybox-bg-sw {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_sw.png', sizingMethod='scale');
}

/* line 358, ../../../app/stylesheets/partials/_fancybox.scss */
.fancybox-ie #fancybox-bg-w {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_w.png', sizingMethod='scale');
}

/* line 359, ../../../app/stylesheets/partials/_fancybox.scss */
.fancybox-ie #fancybox-bg-nw {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_nw.png', sizingMethod='scale');
}

/* line 19, ../../../app/stylesheets/screen.scss */
.easy-clear:after, .container:after, nav.primary ul:after, nav.secondary:after, #tabs-container:after, .column:after, #export-all:after, #export-all ul:after, .list-container:after, body#splash section + section ul:after, .input-form ul:after, body#splash form#new_record ul:after, #new_support ul:after, .input-form ul li:after, body#splash form#new_record ul li:after, #new_support ul li:after, .all-table-container:after, .edit-container #recalc-container:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 27, ../../../app/stylesheets/screen.scss */
*.hidden {
  display: none !important;
}
