/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 * <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */

@import "blueprint";
@import "partials/base";

body {
  @include blueprint-ie(true);
  text-align: left;
}

header {
  display: block;
  height: 39px;
}

section {
  display: block;

  div {
    background: image-url("embed/splash-box-top.png");
    background-position-x: 1px;
  }
}

nav {
  display: block;
}

nav.secondary a {
  &:hover {
    font-weight: normal;
    color: black; /* For some reason, without this line the border doesn't appear */
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: black;
  }
  
  &.current {
    font-weight: bold;

    &:hover {
      border-bottom: none;
    }
  }
}

/* IE style hacks for backgorund positioning in export options */
.export {
  #export-print {
    background-position-y: 0px;
  }
  #export-save {
    background-position-y: -16px;
  }
  #export-email {
    background-position-y: -32px;
  }
  #export-link {
    background-position-y: -48px;
  }
}

.edit-container td {
  input {
    padding-top: 4px;
    background: none;
  }
}

span.save {
  display: block;
  width: 120px;
  white-space: normal;
  text-overflow: clip;
  overflow: visible;
}
