<div id="lightbox-container-email" class="lightbox-container">
  <%= image_tag("embed/loading.gif", :size => "50x50") %>
  <p>Sending email, please wait.</p>
  <span>It may take a few seconds to send your message.</span>
</div>
