<nav class="secondary">
  <span>Select Benefits Type</span>
  <ul>
    <li><%= link_to "Monetary",     community_savings_path,    :class => current_tab(@sub_nav, 1) %></li>
    <li><%= link_to "Non-Monetary", community_reductions_path, :class => current_tab(@sub_nav, 2) %></li>
  </ul>
</nav>