<table>
  <tr>
    <td>Reduction in Number of Complaints:</td>
    <td><%= numf(@record.complaints_reduction) %></td>
    <td>Complaints</td>
  </tr>
  <tr>
    <td>Reduction in Number of Lawsuits:</td>
    <td><%= numf(@record.lawsuits_reduction) %></td>
    <td>Lawsuits</td>
  </tr>
</table>