<table>
  <tr>
    <td>Reduction in Number of Accidents:</td>
    <td><%= numf(@record.accidents_reduction) %></td>
    <td>Accidents</td>
  </tr>
  <tr>
    <td>Reduction in Number of Fatalities:</td>
    <td><%= numf(@record.fatalities_reduction) %></td>
    <td>Fatalities</td>
  </tr>
  <tr>
    <td>Reduction in Emergency Vehicle Response Time:</td>
    <td><%= numf(@record.emergency_response_time_reduction) %></td>
    <td>Hours</td>
  </tr>
</table>