<h5><span>Efficiency</span></h5>
<div class="list-container">
  <div>
    <ul>
      <li>Improve performance or reduce cost   </li>
      <li>Materials Type Choice                </li>
      <li>Vehicle Type Optimization            </li>
    </ul>
    <ul>
      <li>Status reports                       </li>
      <li>Budgeting reports                    </li>
      <li>Trend analysis reports               </li>
      <li>Material usage vs cost reports       </li>
      <li>Restock alerts reports               </li>
      <li>Historical Reports                   </li>
      <li>Current conditions Reports           </li>
      <li>Forecast Reports                     </li>
    </ul>
  </div>
  <div>
    <ul>
      <li>Better planning                      </li>
      <li>Weed spray planning capabilities     </li>
      <li>Operations planning capabilities     </li>
    </ul>
    <ul>
      <li>Performance tracking                 </li>
      <li>Record driver hours                  </li>
      <li>Better communications                </li>
      <li>KPIs to measure contractors          </li>
      <li>Forecast verification                </li>
      <li>Improved forecast accuracy           </li>
      <li>Provision of road forecasting        </li>
    </ul>
  </div>
  <div>
    <ul>
      <li>Streamlined operations               </li>
      <li>Web based open access                </li>
      <li>Continuous availability (resilience) </li>
      <li>Factual objective data (RWIS)        </li>
    </ul>
  </div>
</div>

<h5><span>Publicity</span></h5>
<div class="list-container">
  <div><ul>
    <li>Transparency               </li>
    <li>Solid Maintenance plan/CYA </li>
    <li>Web site information       </li>
    <li>Media relations            </li>
  </ul></div>
  <div><ul>
    <li>Marketing                  </li>
    <li>Toll road marketing value  </li>
  </ul></div>
</div>

<h5><span>Safety</span></h5>
<div class="list-container">
  <div><ul>
    <li>Better planning           </li>
    <li>Better driver information </li>
  </ul></div>
</div>
