<%= render "nav_community_benefits" %>

<h2>Community Reductions</h2>
<div class="table-container">
  <%= render "safety_reductions" %>
</div>
<div class="table-container">
  <%= render "mobility_reductions" %>
</div>
<div class="table-container">
  <%= render "environment_reductions" %>
</div>
