<%= render "nav_user_benefits" %>

<h2>User Reductions</h2>
<div class="table-container">
  <%= render "efficiency_reductions" %>
</div>
<div class="table-container">
  <%= render "publicity_reductions" %>
</div>
