<%= render "nav_user_benefits" %>

<h2>User Savings</h2>
<div class="table-container">
  <%= render "efficiency_savings" %>
</div>
<div class="table-container">
  <%= render "publicity_savings" %>
</div>
