<%= render "nav_community_benefits" %>

<h2>Community Savings</h2>
<div class="table-container">
  <%= render "safety_savings" %>
</div>
<div class="table-container">
  <%= render "mobility_savings" %>
</div>
<div class="table-container">
  <%= render "environment_savings" %>
</div>
