<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Vaisala RoadDSS Value Calculator &mdash; Results Summary</h1>
    <p>
      Thank you for using the Vaisala RoadDSS Value Calculator.
      You can access your results online here: <%= @url %>
    </p>
    <p>
      Results calculated for <%= @record.name %>, <%= @record.organization %>
    </p>
  </body>
</html>