<!DOCTYPE html>
<html style="background: #eee;">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <style type="text/css">
      p {
        line-height: 22px;
        font-size: 13px;
      }
      a:hover span.title {
        border-bottom: 1px solid #00728f;
      }
    </style>
  </head>
  <body style="font-family: Verdana; background: #eee;">
    <div style="width: 600px; border: 1px solid #00728f; margin: 30px auto; background: #fff">
      <h1 style="padding: 18px 18px 12px; margin: 0; color: #fff; border-bottom: 1px solid #00728f; background: #00728f">
        <%= image_tag attachments['logotype.png'].url, :alt => "Vaisala" -%>
        <span style="font-size: 16px; vertical-align: 125%;">/ RoadDSS Value Calculator</span>
      </h1>
      <div style="background: #e2f5f8; border-bottom: 1px solid #00728f; border-top: 1px solid #00728f; margin-top: 15px; padding: 10px 15px;">
        <span style="font-size: 16px;"><%= @record.organization %> — </span><span style="font-weight: bold; font-size: 13px; text-transform: uppercase; color: #004C5F"><%= @record.name %></span><a class="primary" href="#" style="float: right; font-size: 12px; margin-top: 2px; text-decoration: none; color: #004C5F;">Show all results &rarr;</a>
      </div>
      <div style="padding: 0 15px; line-height: 22px;">
        <p>
          Thank you for using the Vaisala RoadDSS Value Calculator. Please download the results summary report you requested by clicking on the box below.
        </p>
        <p> 
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
        </p>
        <a id="report" href="#" style="text-decoration: none; display: block; margin: 50px; padding: 30px; border: 1px solid #00728f; color #00728f;">
          <span class="title" style="color: #00728f; font-weight: bold; font-size: 18px">Results Summary Report</span>
          <span style="font-weight: normal; font-size: 13px; color: #444;"><br>(PDF - 13.2 MB)</span>
          <span style="font-weight: normal; font-size: 10px; display: block; padding-top: 20px; color: #444;"><br>http://www.vaisala.com/roaddssvc/records/3e499e928f/summary.pdf</span>
        </a>
      </div>
    </div>
  </body>
</html>